header {
    background-color: aquamarine;
}

body {
    background-color: aqua;
}
footer {
    background-color: aquamarine;
}

h1 {
    background-color: gainsboro;
}

h2 {
    background-color: gainsboro;
}

h3 {
    background-color: gainsboro;
}

h4 {
    background-color: gainsboro;
}